// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #363c4e;
@very-dark-gray: #31343f;
@white: #FFFFFF;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

// minhas

@classe: #F4CF5D;


@amarelo: #F4CF5D;
@rosa: #DE99F3;
@vermelho: #EF8578;
@verde: #99EF9B;
@azul: #7BBAFE;
@background: #31343F;
@line-highlight: #363B4E;
@comentarios: #63687F;
@text: #DAE3F9;
